<div class="order d-flex justify-content-between align-items-center flex-wrap mb-3">
                    
    <div class="">
        <h5 class="mb-0"><%= item.name %> </h5>
    </div>

    <div>
        <h5 class="mb-0"><%= item.quantity %>pcs</h5>
    </div>

    <div>
        <h5 class="mb-0">Rs.<%= item.price %> </h5>
    </div>    
</div>

