
<div class="container empty-cart d-flex flex-column justify-content-center align-items-center" style="height: 100vh">
    <img src="/images/error.png" alt="">
    <a class="btn br-20 fw-600 text-light bg-red" href="/">Return to Safety</a>
</div>